#contact .list .list-item{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#contact .list{
    margin-left: 0;
    padding-left: 0;
}
#contact .icon{
    background: var(--text-color);
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
}
#contact .icon:hover{
    background: var(--facebook-color);
    color: var(--text-color);
}