#main{
    color: var(--text-color);
    padding-left: 5rem;
    background: url("../assets/images/main-img.avif") right top / cover no-repeat ;
    filter: opacity(0.9);
}
.heading{
    font-weight: bolder;
    font-size: xxx-large;
}
#typer-write{
    color: var(--main-color);
    font-weight: normal;
}

.social-icons{
    margin-top: 2rem;
    display: inline-block;
}

.icon-list{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.icon-li{
    display: inline;
    margin-right: 1.5rem;
}
.next-section-button{
    display: block;
    font-size: larger;
    background: transparent;
    position: absolute;
    bottom: 3rem;
    left: 50%;
}

.bi-chevron-down{
    color: var(--text-color);
}
.bi-chevron-down:hover{
    color: var(--text-secondary-color);
}
.bi-facebook{
    color: var(--facebook-color);
}
.bi-whatsapp{
    color: var(--whatsapp-color);
}
.bi-linkedin{
    color: var(--linkedin-color);
}
.bi-instagram{
    background: -webkit-linear-gradient(var(--instagram-color-1), var(--instagram-color-2) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
